<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="/socket.io/socket.io.js"></script>
  	<script src="angular/angular.min.js"></script>
  	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
  	<script src="js/main.js"></script>
  	<link rel="stylesheet" type="text/css" href="css/style.css">
  	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" >
</head>
<body ng-app="app">
	
	<div ng-controller="appController">		

		
		<div id="logoutForm" ng-show="connected">
			<h4>You are logged as <b><%= name %></b></h4>
			<form action="/logout" >
				<button type="submit" class="btn btn-primary">Log out</button>
			</form>
		</div>

		<div id="userList" data-ng-show="connected">
			<h3>Standings</h3>
   			<table class="table">
   				<tr>
					<th>Position</th>
					<th>User</th>
					<th>Score</th>
   				</tr>
     		   <tr ng-repeat="user in users"><td>{{$index+1}}</td><td>{{user.username}}</td><td>{{user.score}}</td></tr>
  		    </table>
		</div>

		<div id="gameBox" ng-show="connected">
			<div ng-show="end">
				<h3>{{endMsg}}</h3>
			</div>
			<div><br>
			<div ng-hide="gameStarted">		
				<h3>Choose quiz</h3>
				<select ng-model="choosenQuiz" ng-options="quiz as quiz for quiz in quizes">
      				<option value="directors">Directors</option>
      				<option value="years">Years</option>
    			</select>

			</div>
			<div id="startButtonDiv" ng-hide="gameStarted">
				<form action="" ng-submit="startGame()" >
					<button type="submit" class="btn btn-primary">Start a game!</button>
				</form> 
			</div>
			<div id="questionBox" ng-show="gameStarted">
				<h2>{{toAsk}} {{currentQuestion}} : </h2>
				<div ng-show="beforeAnswer">
					<form action="" ng-submit="tryAnswer()">
					<input type="text" ng-model="currentUserAnswer" >
					<br>
					<br>
					<button type="submit" id="answerButton" class="btn btn-primary">Answer!</button>
					</form>
				</div>
				<div id="userAnswerDiv" ng-show="questionAnswered">
					<h3>User {{userWhoAnswered}} answers: {{proposedAnswer}}</h3>
				</div>
				<div id="correctAnswerDiv" ng-show="questionAnswered">
					<h3>Correct answer is {{dots}}</h3>
					<h3>{{correctAnswer}}</h3>
					<br>
				</div>
				<div id="afterAnswerDiv" ng-show="afterAnswer">
					<form action="" ng-submit="nextQuestion()">
					<br>
					<button type="submit" id="nextQuestionButton" class="btn btn-primary">Next question</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="dataDiv" ng-controller="dataController">
		<div id="filmDiv">
			<h3>Film quizes</h3>
			<table id="filmTable">
				<tr>
					<td>Directors</td>
					<td class="updateButton"><form action="" ng-submit="updateQuiz('Director')">
						<button type="submit" class="btn btn-primary">Update</button>
					</form></td>
				</tr>
				<br>
				<tr>
					<td>Release years</td>
					<td class="updateButton"><form action="" ng-submit="updateQuiz('Year')">
						<button type="submit" class="btn btn-primary">Update</button>
					</form></td>
				</tr>
			</table>
			<span id="updateMsg">{{msg}}</span>
		</div>
		<br>
		<br>
		<div id="uploadDiv">
			<h3>Upload data</h3>
			<form action="/game" method="post" enctype="multipart/form-data">
				Give a title: <input type="text" name="title" ><br>
				Give a question: <input type="text" name="question" ><br>
				Choose a csv file: <input type="file" name="dataFile" > <br>
				<button type="submit" class="btn btn-primary">Upload</button>
			</form>
		</div>

	</div>
</body>
</html>