<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="jquery/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" >
</head>
<body>
Log in or <a href='/register'>Register</a>
<br>
<br>
  <div>
    <%= successMsg %>
    <%= errorMsg %>
  </div>
<br>
<br>
<div id="loginDiv">
  <form method='post' action='/login'>
  <table>
    <tr>
      <td>Login:</td><td><input type='text' name='username' /></td>
    </tr>
    <tr>
      <td>Password:</td><td><input type='password' name='password' /></td>
    </tr>
  </table>
  <input type='submit' value='Log in' />
  </form>
</div>
</body>
</html>