<!DOCTYPE html>
<html lang="pl">

  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" >
  </head>

  <body>
    <div>
      <%= successMsg %>
      <%= errorMsg %>
    </div>
    <br>
    <br> 

    <div id="loginDiv">
      <form method="post" action="/login" role="form">
        <div class="form-group">
          <label for="username">Login</label>
          <input type="text" class="form-control" id="loginInput" name="username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="passwordInput" name="password">
        </div>
        <button type="submit" class="btn btn-default">Log in</button>
      </form>
      <br>
      <a href="/register" class="btn btn-info">Register</a>
    </div>

  </body>
</html>