#logoutForm {
  width: 200px;
  height: 100px;
  float: right;
  border: solid 1px black;
  margin-right: 100px;
  margin-top: 50px;
}
#userList {
  width: 20%;
  height: 300px;
  float: left;
  border: solid 1px black;
  margin-top: 150px;
  margin-left: 50px;
}
#gameBox {
  width: 50%;
  height: 400px;
  float: left;
  border: solid 1px black;
  margin-top: 150px;
  margin-left: 50px;
}
#dataDiv {
  width: 200px;
  height: 30%;
  float: right;
  border: solid 1px black;
  margin-right: 100px;
}
#startButtonDiv {
  margin-left: 40%;
  margin-right: 50%;
}
#questionBox {
  margin-left: 40%;
}
