
.defaultBorder(@size, @color) {
	border: solid @size @color;
}

.rectangle(@width, @height, @float, @borderSize) {
	width: @width;
	height: @height;
	float: @float;
	.defaultBorder(@borderSize, black)
}


#logoutForm {
	.rectangle(200px, 100px, right, 0px);
	margin-right: 100px;
	margin-top: 20px;
}

#userList {
	.rectangle(15%, 300px, left, 0px);
	margin-top: 120px;
	margin-left: 10px;
}

#gameBox {
	.rectangle(45%, 400px, left, 0px);
	margin-top: 50px;
	margin-left: 100px;
}

#dataDiv {
	.rectangle(200px, 20%, right, 1px);
	margin-right: 100px;
}

#startButtonDiv {
	margin-left:40%;
	margin-right:50%;
}

#questionBox {
	margin-left: 20%;
}

#loginDiv {
	height: 300px;
	width: 400px;
	margin-left: 40%;
}

#updateMsg {
	color: green;
}

.correct {
	background-color: 28F016;

}

.wrong {
	background-color: CC1818;
}